# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# generals
BreakBeforeBraces: Attach
ColumnLimit: 80
CommentPragmas: '^ comment: '
ContinuationIndentWidth: 2
IndentWidth: 2
ReflowComments: false
UseTab: Never

# language core
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PointerAlignment: Left

# for short description
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
